@{
    ViewData["Title"] = "Home Page";
}
<div class="text-center">
    <h1 class="display-2">Welcome to our Feedback Portal</h1>
    <h2 class="display-4">Please Log In</h2>
    <br />
    <p>If you want to use our site you need to have an account. To create one navigate to <a asp-controller="Account" asp-action="Create">/Account/Create</a></p>
</div>